{% extends "base.html.twig" %}

{% block body %}
    <h1>JSON Fetcher demo</h1>
    <p>
        <a href="{{ url('demo.success') }}">Fetch success data</a>,
        <a href="https://gist.githubusercontent.com/vsyrovat/2892a3c97ad50e24ba4f1c2de6322a55/raw/" target="_blank">see actual data</a>
    </p>
    <p>
        <a href="{{ url('demo.error') }}">Fetch error data</a> (you should see the exception),
        <a href="https://gist.githubusercontent.com/vsyrovat/49625cf399cc3f675eb0ccf685187f29/raw/" target="_blank">see actual data</a>
    </p>
    <p>
        <a href="{{ url('demo.mailformed') }}">Fetch mailformed data</a> (you should see the exception),
        <a href="https://gist.githubusercontent.com/vsyrovat/f5409f8bb4d3204e9c17e8f262a6e04e/raw/" target="_blank">see actual data</a>
    </p>
    <p><a href="{{ url('demo.wrong_url') }}">Fetch from wrong url</a> (you should see the exception, client error handling demonstation)</p>
{% endblock %}
